## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [ ]:
a=10
print  (a)

:

2) Imprimir el tipo de dato de la variable 8.5

In [ ]:
A=8.5
print(type(A))

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [ ]:
print(a)

4) Crear una variable que contenga tu nombre

In [ ]:
Nombre="Pablo"
print (f"mi nombre es: {Nombre}")

5) Crear una constante que contenga el número Pi

In [ ]:
PI = 3.14

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [ ]:
print=(type(PI))

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [ ]:
NUMERO_PI=3.1415
print=(NUMERO_PI)

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
coche=False
if coche==True:
    print("coche esta encendido")
else:
    print("coche esta apagado")

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [ ]:
print(type(coche))

10) Asignar a una variable, la suma de un número entero y otro decimal

In [ ]:
a=345
b=3.14
print(a+b)

11) Realizar una operación de suma de un número definido como string con un entero

In [ ]:
a=23
b="34"
print(int(b)+a)

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [ ]:
b=7**3
print(b)

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [ ]:
print=int (input("ingrese vartiable por teclado"))

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [3]:
a=27/4
print(a)

6.75

15) De la división anterior solamente mostrar la parte entera

In [1]:
a=27//4
print(a)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [5]:
a=27%4
print(a)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [11]:
a=4*6+3
print(a)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
a="2"
b=2

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [15]:
a="2"
b=2
print(int(a)*b)

4

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [20]:
a=float(3.8)
print(a)

3.8

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [1]:
a=2
b="2"
print(a+int(b))

4

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [5]:
menu="""
MENU
1)Pizza 2)Empanadas
3)Milanesas 4)Salir"""
print(menu)

MENU
1)Pizza 2)Empanadas
3)Milanesas 4)Salir

23) Crear una lista que contenga los números del 1 al 10

In [6]:
lista=[1,2,3,4,5,6,7,8,9,10]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [11]:
print(menu[3])

N

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [16]:
menu.remove

AttributeError: 'str' object has no attribute 'remove'

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [25]:
matriz=[["A,B,C"],["D,E,F"],["G,H,I"]]

27) Imprimir la matriz creada en el punto 26

In [26]:
print(matriz)

[['A,B,C'], ['D,E,F'], ['G,H,I']]

28) Modificar la letra E de la matriz y colocar la letra Z

NameError: name 'e' is not defined

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

30) Crear una tupla que contenga 5 marcas de ropa

In [45]:
tuple=("adidas","channel","Dior","gucci","Nike")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [46]:
print(tuple)

('adidas', 'channel', 'Dior', 'gucci', 'Nike')

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
por que estas no pueden agregar o quitar elementos

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [56]:
alumno= dict(nombre="pablo",apellido="carmona",edad=25,hobbies="videojuegos,caminar,cocinar,leer")
print(alumno)

{'nombre': 'pablo', 'apellido': 'carmona', 'edad': 25, 'hobbies': 'videojuegos,caminar,cocinar,leer'}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [60]:
print(dict["hobbies"])

dict['hobbies']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

NameError: name 'edad' is not defined